
body {
    background-image: url(/MFW-Final/CSS/img/marble.jpg);
  }
  
 .row{
  display: flex;
  flex-wrap: wrap;
 } 

 .card{
  display: flex;
 }
  .carousel-indicators [data-bs-target] {
    width: 10px; /* change width */
    height: 10px; /* change height */
    border-radius: 100%; /* add border-radius */
  }
  
  h4 {
      color: white;
  }

  @media only screen and (min-aspect-ratio: 16/9) {
    .c-image {
      height: 680px;
    }
  }

  